        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;

        }

        .nkar {
            width: 100%;
            height: 100vh;
            background-image: url(img/glxavor.jpg);
            background-size: cover;
            background-position:center;
            background-attachment: fixed;
        }

        .head__cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .logo>img {
            margin-top: 64px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            animation: zoomright 1s ease-out;
        }

        .menu-list {
            margin-top: 32px;
        }

        .menu-link {
            color: #f4f4f4;
            font-size: 30px;
        }

        .menu-link:hover {
            color: black;
        }

        .menu {
            text-align: center;
            display: flex;
            gap: 16px;
            animation: fadeinright 1s ease-in-out;
        }

        .tree {
            text-align: center;
        }

        .tree>h1 {
            color: white;
            margin-top: 128px;
            font-size: 96px;
            animation: logo 1s ease-out forwards;
        }

        .wood {
            margin-top: 150px;
            animation: avelin 1s ease-out;
        }

        .button {
            position: relative;
            text-decoration: none;
            color: #fff;
            background: linear-gradient(45deg, #095608, #095608, #000000);
            padding: 14px 25px;
            border-radius: 10px;
            font-size: 1.25em;
            cursor: pointer;
        }

        .button span {
            position: relative;
            z-index: 1;
        }

        .button::before {
            content: "";
            position: absolute;
            inset: 1px;
            background: #0d5e0a;
            border-radius: 9px;
            transition: 0.5s;
        }

        .button:hover::before {
            opacity: 0.7;
        }

        .button::after {
            content: "";
            position: absolute;
            inset: 0px;
            background: linear-gradient(45deg, #ffffff, #2fff28, #5bc928);
            border-radius: 9px;
            transition: 0.5s;
            opacity: 0;
            filter: blur(20px);
        }

        .button:hover:after {
            opacity: 1;
        }

        .main__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .car {
            margin-top: 64px;
            text-align: center;
            width: 598px;
        }

        .car>h2 {
            font-size: 64px;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 1s ease, transform 1s ease;
        }

        .car>span {
            margin-top: 8px;
            font-size: 16px;
        }

        .car>p {
            margin-top: 32px;
            font-size: 20px;
        }

        .auto>a:hover {
            color: black;
        }

        .auto {
            margin-top: 32px;
        }

        .ipad__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .boll {
            text-align: center;
            margin-top: 64px;
            width: 469px;
        }

        .boll>h2 {
            font-size: 64px;
            opacity: 0;
            animation: none;
        }

        .gcer {
            width: 120px;
            border: 1px solid #D8AE5E;
            margin-top: 32px;
            margin-left: 174.5px;
        }

        .book {
            margin-top: 20px;
        }

        .book>p {
            font-size: 24px;
        }

        .copybook__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .pen__cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .pensle {
            margin-top: 32px;
        }


        .cards {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        .card>img {
            width: 330px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        .cards .red {
            background-color: #007e9e;
        }

        .cards .blue {
            background-color: #0062ff;
        }

        .cards .green {
            background-color: #18cd5e;
        }



        .cards .card p.tip {
            font-size: 1em;
            font-weight: 700;
        }

        .cards .card p.second-text {
            font-size: .7em;
        }

        .cards .card:hover {
            transform: scale(1.2, 1.2);
        }

        .cards:hover>.card:not(:hover) {
            filter: blur(10px);
            transform: scale(0.9, 0.9);
        }

        .design-two {
            display: flex;
            gap: 16px;
            margin-top: 16px;
        }

        .design-two>img {
            width: 330px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        .ice__cont {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            max-width: 1440px;
            background-color: #f4f4f4;
            margin-top: 106px;
        }

        .eyse {
            text-align: center;
            margin-top: 64px;
            width: 287px;
            height: 156px;
        }

        .eyse>h2 {
            font-size: 64px;

        }

        .eyse>p {
            font-size: 16px;
            margin-top: 20px;
        }

        .gic-kanach {
            margin-top: 20px;
            width: 120px;
            border: 1px solid #095608;
            margin-left: 83.5px;
        }

        .card {
            max-width: fit-content;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            gap: 1rem;
            backdrop-filter: blur(15px);
            transition: 0.5s;
            margin-bottom: 20px;
            margin: 0 auto;
        }

        .icon {
            width: 50px;
            height: 50px;
            fill: #000;
        }

        .card:hover {
            animation: ease-out 5s;
            background: rgba(173, 173, 173, 0.05);
        }

        .card ul {
            padding: 1rem;
            display: flex;
            list-style: none;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .card ul li {
            cursor: pointer;
        }

        .svg {
            transition: all 0.3s;
            /* if you find some problems change w - h : 30px*/
            padding: 1rem;
            height: 60px;
            width: 60px;
            border-radius: 100%;
            color: #095608;
            fill: currentColor;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
                inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
        }

        .text {
            opacity: 0;
            border-radius: 5px;
            padding: 5px;
            transition: all 0.3s;
            color: #095608;
            background-color: rgba(255, 255, 255, 0.3);
            position: absolute;
            z-index: 9999;
            box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
                -10px 0 1px rgba(153, 153, 153, 0.2),
                inset 0 0 20px rgba(255, 255, 255, 0.3),
                inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
        }

        .iso-pro {
            transition: 0.5s;
        }

        .iso-pro:hover a>.svg {
            transform: translate(15px, -15px);
            border-radius: 100%;
        }

        .iso-pro:hover .text {
            opacity: 1;
            transform: translate(25px, -2px) skew(-5deg);
        }

        .iso-pro:hover .svg {
            transform: translate(5px, -5px);
        }

        .iso-pro span {
            opacity: 0;
            position: absolute;
            color: #1877f2;
            border-color: #1877f2;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
                inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
            border-radius: 50%;
            transition: all 0.3s;
            height: 60px;
            width: 60px;
        }

        .iso-pro:hover span {
            opacity: 1;
        }

        .iso-pro:hover span:nth-child(1) {
            opacity: 0.2;
        }

        .iso-pro:hover span:nth-child(2) {
            opacity: 0.4;
            transform: translate(5px, -5px);
        }

        .iso-pro:hover span:nth-child(3) {
            opacity: 0.6;
            transform: translate(10px, -10px);
        }

        .macpro {
            margin-top: 64px;
            margin-left: -25px;
            margin-bottom: 80px;
            display: flex;
            gap: 32px;
        }

        .bag__cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 1440px;
        }

        .shirt {
            margin-top: 64px;
            margin-bottom: 80px;
            text-align: center;
        }

        .shirt>p {
            margin-top: 64px;
        }

        .shirt>span {
            margin-top: 16px;
        }


        @keyframes logo {
            0% {
                transform: scale(0) translateY(-1000px);
                opacity: 0;
            }

            100% {
                transform: scale(1) translateY(0);
                opacity: 1;

            }
        }

        @keyframes avelin {
            0% {
                transform: translateX(-3000px);
                opacity: 0;
            }

            60% {
                transform: translateX(30px);
                opacity: 1;
            }

            80% {
                transform: translateX(-10px);
            }

            100% {
                transform: translateX(0);
            }
        }

        @keyframes fadeinright {
            0% {
                opacity: 0;
                transform: translate3d(100%, -100%, 0);
            }

            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        @keyframes zoomright {
            0% {
                opacity: 0;
                transform: scale(0) translateX(100%);
            }

            50% {
                opacity: 1;
                transform: scale(1.05) translateX(0);
            }

            100% {
                opacity: 1;
                transform: scale(1) translateX(0);
            }
        }

        @keyframes fleft {
            0% {
                opacity: 0;
                transform: translateX(-2000px);
            }

            60% {
                opacity: 1;
                transform: translateX(30px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .car>h2.visible {
            opacity: 1;
            transform: translateX(0);
        }

        @keyframes backInLeft {
            0% {
                transform: translateX(-1000px);
                opacity: 0;
            }

            60% {
                transform: translateX(30px);
                opacity: 1;
            }

            80% {
                transform: translateX(-10px);
            }

            100% {
                transform: translateX(0);
            }
        }


        .car>span {
            opacity: 0;
            transform: translateX(-1000px);
            transition: opacity 1s ease-out;
        }

        .boll>h2.visible {
            animation: backInLeft 1s ease-out forwards;
            opacity: 1;
        }

        @keyframes backInLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }

            60% {
                transform: translateX(30px);
                opacity: 1;
            }

            80% {
                transform: translateX(-10px);
            }

            100% {
                transform: translateX(0);
            }
        }


        @media screen and (max-width:1240px) {
            .design {
                display: flex;
                gap: 10px;
            }

            .design-two {
                display: flex;
                gap: 10px;
                margin-top: 10px;
            }

            .ice__cont {
                margin-top: 20px;
            }

            .macbook {
                margin-left: 40px;
            }

            .tree>h1 {
                font-size: 60px;
            }

            .card {
                margin-left: 0;
                margin: 0 auto;
            }

            .card>img {
                width: 280px;
                height: 280px;
            }

            .cards{
                margin-top: 20px;
            }

            .car {
                margin-top: 30px;
            }

            .boll {
                margin-top: 30px;
            }
        }

        @media screen and (max-width:992px) {
            .design {
                display: flex;
                gap: 5px;
            }

            .design>img {
                border-radius: 20px;
                width: 250px;
                height: 250px;
                object-fit: cover;
            }

            .design-two {
                display: flex;
                gap: 5px;
                margin-top: 5px;
            }

            .design-two>img {
                display: flex;
                justify-content: center;

                margin: 0 auto;
                border-radius: 20px;
                width: 250px;
                height: 250px;
                object-fit: cover;
            }

            .phone_three {
                width: 746px;
            }

            .macbook {
                margin-left: 32px;
            }

            .card>img {
                width: 230px;
                height: 230px;
            }

            .eyse {
                margin-top: 0;
            }

            .card {
                margin-bottom: 0;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .logo>img {
                margin-top: 44px;
            }

            .shirt {
                margin-top: 0;
                margin-bottom: 34px;
            }

            .shirt>p {
                margin-top: 24px;
            }

            .eyse>h2 {
                font-size: 48px;
            }

            .eyse>p {
                font-size: 13px;
                margin-top: 7px;
            }

            .eyse {
                height: 100px;
            }

            .gic-kanach {
                margin-left: 0;
                margin: 0 auto;
                margin-top: 15px;
            }
        }

        @media screen and (max-width:768px) {
            .phone_two {
                width: 600px;
            }

            .phone_three {
                width: 600px;
            }

            .design>img {
                width: 180px;
                height: 180px;
            }

            .design-two>img {
                width: 180px;
                height: 180px;
            }

            .tree>h1 {
                font-size: 43px;
            }

            .book>p {
                font-size: 15px;
            }

            .eyse>h2 {
                font-size: 54px;
            }

            .eyse>p {
                font-size: 12px;
            }

            .shirt>p {
                font-size: 14px;
            }

            .boll>h2 {
                font-size: 54px;
            }

            .air-logo>h2 {
                font-size: 54px;
            }

            .car>h2 {
                font-size: 54px;
            }

            .car>span {
                font-size: 12px;
            }

            .car>p {
                font-size: 15px;
            }

            .macbook {
                margin-left: 29px;
            }

            .card>img {
                width: 175px;
                height: 175px;
            }

            .card {
                margin-bottom: 0;
                margin-bottom: 10px;
            }

            .button {
                padding: 8px 8px;
            }

            .button span {
                position: relative;
                z-index: 1;
                font-size: 17px;
            }
        }

        @media screen and (max-width:600px) {
            .phone_two {
                width: 350px;
            }

            .phone_three {
                width: 371px;
            }

            .design>img {
                width: 100px;
                height: 100px;
            }

            .design-two>img {
                width: 100px;
                height: 100px;
            }

            .tree>h1 {
                font-size: 26px;
                margin-top: 62px;
            }

            .book>p {
                font-size: 10px;
            }

            .ice__cont {
                margin-top: 20px;
            }

            .eyse {
                margin-top: 5px;
            }

            .eyse>h2 {
                font-size: 28px;
            }

            .eyse>p {
                font-size: 10px;
            }

            .shirt>p {
                font-size: 10px;
            }

            .shirt>span {
                font-size: 10px;
            }

            .boll>h2 {
                font-size: 23px;
            }

            .boll {
                margin-top: 12px;
            }

            .note {
                margin-top: 0px;
            }

            .air-logo>h2 {
                font-size: 44px;
            }

            .air-logo>p {
                font-size: 10px;
            }

            .car>h2 {
                font-size: 20px;
            }

            .car>span {
                font-size: 10px;
            }

            .car>p {
                font-size: 6px;
                margin-top: 0;
            }

            .gcik {
                margin-left: 110px;
                width: 76px;
            }

            .gcer {
                margin-left: 130px;
                width: 90px;
            }

            .phone-person>img {
                width: 30px;
                height: 30px;
            }

            .phone-child>h3 {
                font-size: 13px;
            }

            .phone-son>img {
                width: 30px;
                height: 30px;
            }

            .person-uncle {
                font-size: 10px;
            }

            .macbook {
                margin-left: 34px;
            }

            .menu-link {
                font-size: 10px;
            }

            .car {
                margin-top: 15px
            }

            .nkar {
                height: 670px;
            }

            .shirt {
                margin-top: 0px;
            }

            .macpro {
                margin-top: 45px;
            }
            .card>img {
                width: 87px;
                height: 87px;
            }
            .cards{
                display: flex;
                gap: 13px;
                margin-top: 12px;
            }
            .card{
                margin-bottom: 0;
                margin-top: 0;
            }
            .pensle{
                margin-top: 0;
            }
            .logo>img{
                width: 90px;
                height: 90px;
                margin-top: 7px;
            }
            .button {
                padding: 6px 6px;
            }
            .button>span{
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .auto{
                margin-top: 15px;
            }
            .svg{
                width: 50px;
                height: 50px;
                padding: 12px;
            }
           
          }